*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f1faff;
}
.container_cards{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardh{
    width: 300px;
    *background-color: #fff;
    margin: 10px;
    transition: all 300ms;
}
.cardh:hover{
    width: 350px;
}
.cardh .cover {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.cardh .cover img{
    width: 250px;
    position: relative;
    display: block;
    margin: auto;
    top: 120px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.cardh:hover .cover img{
    top: 70px;
    /*filter: none;*/
}
.cardh .img_back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.cardh:nth-of-type(1) .img_back{
    background-image: url(images/bg1.jpg);
}
.cardh:nth-of-type(2) .img_back{
    background-image: url(images/bg2.jpg);
}
.cardh:nth-of-type(3) .img_back{
    background-image: url(images/bg3.jpg);
}

.cardh:hover .img_back{
    bottom: -40px;
}
.cardh .description{
    background-color: #fff;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.cardh .description h2{
    margin-top: 10px;
}

.cardh .description p{
    margin-top: 10px;
}

.cardh .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background-color: #a6359d;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: all 300ms;
    transition: all 300ms;
}
.cardh:hover .description{
    padding: 40px;
}
.card .description input:hover{
    background-color: #83277b;
}